SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5500/frontend/index.html
SPOTIFY_SCOPES=user-read-currently-playing user-read-playback-state user-read-recently-played
